@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(#216240, #134f46);
	background-size: cover;
	background-repeat: no-repeat;	
	color: white;
	height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s;
	-webkit-text-fill-color: #fff !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}

#heading-container h2 {
	text-align: center;
	font-size: 3.5em;
	font-weight: 400;
}

#buttons-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 5em;
}

.landing-page-button {
	background-color: white;
	color: black;
	border: none;
	outline: none;
	border-radius: 2em;

	width: 10em;
	height: 2em;

	font-size: 1.5em;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: darkgray;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: darkgray;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: darkgray;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
